$fontheading: 'Noto Sans JP', sans-serif;
$fontbody: 'Merriweather', serif;

// colors
$blue: #006ec3;
$lightbg: #E9EBEC;
$border: #ebebeb;

// taken from shihabiiuc -replace color if required -currently required for post-Comment section
$lightgray: #6c757d;
$heading: #0D054C;